<div class="overflow-x-auto">
	<table class="w-full border-separate border-spacing-y-3 ">

		<thead>
			<tr>
				<th class="th-table w-3/10">
					Outillage
				</th>
				<th class="th-table w-2/10">
					Numéro de série
				</th>
				<th class="th-table w-2/10">
					Date de fin de validité
				</th>
				<th class="th-table w-1/10">
					Nom
				</th>
				<th class="th-table w-1/10">
					Prénom
				</th>
				<th class="th-table w-1/10">
					Aéronef
				</th>
			</tr>
		</thead>

		<tbody>

			{% for tool in tools %}

				<tr>
					<td class="px-6 py-3 font-medium text-gray-800 bg-zinc-200 rounded-l-lg">
						{{tool.name}}
					</td>
					<td class="td-table">
						<span class="font-semibold text-red-600">{{tool.sn}}</span>
					</td>
					<td class="td-table">
						{{tool.controlDate|date("d/m/Y")}}
					</td>
					<td class="td-table">
						{{tool.user.lastName|capitalize}}
					</td>
					<td class="td-table">
						{{tool.user.firstName|capitalize}}
					</td>
					<td class="td-table rounded-r-lg">
						{{tool.user.aeronef.immat}}
					</td>
				</tr>

			{% endfor %}

		</tbody>

	</table>
</div>
