{% extends "pages/dashboard/dashboard.twig" %}
{% block h3 %}
	Liste des techniciens enregistrés
{% endblock %}


{% block content %}
<div id="card-container" class="grid grid-cols-3 gap-4 max-w-full mx-auto">

	{% for technician in technicians %}
		<div class="border border-gray-300 shadow-lg shadow-blue-100 rounded-2xl flex gap-6 py-6 px-7 card" data-technician-id="{{technician.id}}" data-last-name="{{technician.lastName}}" data-first-name="{{technician.firstName}}" data-email="{{technician.email}}" data-aeronef="{{technician.aeronef.immat}}">

			<div>
				<img class="w-24 h-24 p-2 rounded-full object-cover" src="" alt="">
				<div class="flex gap-2 justify-center">
					<div class="bg-gray-50 p-2 rounded-full border-1 border-gray-400 hover:bg-blue-200 cursor-pointer editUserBtn">
						<img class="w-5" src="/assets/images/editer.png" alt="">
					</div>
					<a class="bg-gray-50 p-2 rounded-full border-1 border-gray-400 hover:bg-blue-200" href="/deleteUser/{{technician.id}}">
						<img class="w-5" src="/assets/images/supprimer.png" alt="">
					</a>
				</div>
			</div>

			<div class="pt-4 flex flex-col">
				<p class="font-bold text-2xl mb-2">{{technician.lastName|capitalize}}
					<span class="font-medium">{{technician.firstName|capitalize}}</span>
				</p>
				<p class="font-thin text-2xl mb-10">Aeronef :
					<span class="font-semibold">{{technician.aeronef.immat}}</span>
				</p>
			</div>

		</div>
	{% endfor %}

</div>
{% endblock %}
